html{
    text-decoration: none;
}

body{
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: #0b1622;
}

/*
.progress{
background-color: #29a6ff;
border-radius: 0 10px 10px 0;
height: 4px;
left: 0;
opacity: 0;
position: absolute;
right: 0;
top: 0;
transition: width .3s ease,opacity .2s;
width: 0;
z-index: 99999;
width: 100%;
}
*/
.banner{
    background-image: url(../assets/images/profile_background.png);
    background-color: #242538;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
    position: relative;
    box-sizing: border-box;
}
.container{
    align-items: flex-end;
    display: flex;
    height: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
    min-width: 320px;
    width: 100%;
}
.banner-content{
    align-items: flex-end;
    display: flex;
    width: 100%;
    box-sizing: border-box;
}
.name-wrapper{
    padding: 22px 25px;
    padding-bottom: 0;
    box-sizing: border-box;
}
.name{
    color: white;
    display: inline-block;
    font-weight: 800;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 1.9rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.avatar{
    border-radius: 4px 4px 0 0;
    display: inline-block;
    max-height: 230px;
    max-width: 160px;
    width: 100%;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    left: 20px;
    bottom: -50px;
    border: #00B0BD solid 8px;
}
.overview{
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: calc(45% - 40px) 55%;
    grid-template-rows: repeat(autofit);
    max-width: 1100px;
    min-width: 320px;
    margin-top: 30px;
    box-sizing: border-box;
    margin: auto;
}
.content-wrap{
    background: #151f2e;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 25px;
    padding: 20px;
    box-sizing: border-box;
    max-height: 700px;
    overflow: auto;
}
.section{
    border-radius: 6px;
    font-size: 1.4rem;
    margin-bottom: 25px;
    padding-top: 20px;
    box-sizing: border-box;
    max-width: 785px;
    max-height: 100%;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    overflow: auto;
}
.about{
    box-sizing: border-box;
    color: #55697e;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 1.4rem;
}
.stats-wrap{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-auto-flow: column;
    justify-items: stretch;
    text-align: center;
}
.lang-title-wrap{
    display: inline;
}
.langlogos{
    display: inline;
    max-height: 100%;
}
.currently-studying{
    color:white;
    text-align: center;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    padding-bottom: 0px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 1.9rem;
}
.currently-studying:hover{
    cursor: default;
}
.progresscpp{
    background: rgb(15,22,31);
    height: 11px;
    padding: 0 16.5%;
    box-sizing: border-box;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 10px;
}
.cpp{
    color:#02a9ff;
    margin: 0px 0px 0px 0px;
    font-size: 1.4rem;
    text-align: center;
    padding-left: 0;
    padding-right: 10px;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.progresscpp .barcpp{
    background: linear-gradient(270deg,#02a9ff,#71cfff);
    border-radius: 50px 50px 50px 50px;
    box-sizing: content-box;
    height: 100%;
    margin-left: -25%;
    padding-right: 25%;
    width: 60%;
}
.milestonescpp .milestone{
    display: inline-block;
    position: relative;
    text-align: center;
}
.milestonescpp{
    color: white;
    display: grid;
    font-size: 1.1rem;
    font-weight: 500;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    padding: 11px 0;
    box-sizing: border-box;
    transition: 600ms;
}
.milestonescpp:hover{
color: #0f74a3;
}
.progressjava{
    background: rgb(15,22,31);
    height: 11px;
    padding: 0 16.5%;
    box-sizing: border-box;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 10px;
}
.java{
    color:#02a9ff;
    margin: 0px 0px 0px 0px;
    font-size: 1.4rem;
    text-align: center;
    padding-left: 0;
    padding-right: 10px;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.progressjava .barjava{
    background: linear-gradient(270deg,#02a9ff,#71cfff);
    border-radius: 50px 50px 50px 50px;
    box-sizing: content-box;
    height: 100%;
    margin-left: -25%;
    padding-right: 15%;
    width: 0%;
}
.milestonesjava .milestone{
    display: inline-block;
    position: relative;
    text-align: center;
}
.milestonesjava{
    color: white;
    display: grid;
    font-size: 1.1rem;
    font-weight: 500;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    padding: 11px 0;
    box-sizing: border-box;
    transition: 600ms;
}
.milestonesjava:hover{
color: #0f74a3;
}
.progresskotlin{
    background: rgb(15,22,31);
    height: 11px;
    padding: 0 16.5%;
    box-sizing: border-box;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 10px;
}
.kotlin{
    color:#a82bec;
    margin: 0px 0px 0px 0px;
    font-size: 1.4rem;
    text-align: center;
    padding-left: 0;
    padding-right: 10px;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.progresskotlin .barkotlin{
    background: Radial-gradient(89.53% 145.96% at 0.34% 100.79%, rgb(157, 14, 27) 0px, rgb(152, 28, 60) 17.58%, rgb(143, 60, 139) 50.31%, rgb(40, 0, 155) 97.03%);
    border-radius: 50px 50px 50px 50px;
    box-sizing: content-box;
    height: 100%;
    margin-left: -25%;
    padding-right: 40%;
    width: 0%;
}
.milestoneskotlin .milestone{
    display: inline-block;
    position: relative;
    text-align: center;
}
.milestoneskotlin{
    color: white;
    display: grid;
    font-size: 1.1rem;
    font-weight: 500;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    padding: 11px 0;
    box-sizing: border-box;
    transition: 600ms;
}
.milestoneskotlin:hover{
color: rgb(115, 43,144);
}
.html{
    color:rgb(218,65,39);
    margin: 0px 0px 0px 0px;
    font-size: 1.4rem;
    text-align: center;
    padding-left: 0;
    padding-right: 10px;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.progresshtml{
    background: #290202;
    height: 11px;
    padding: 0 16.5%;
    box-sizing: border-box;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 10px;
}
.progresshtml .barhtml{
    background: linear-gradient(270deg,#ff0000,#c77169);
    border-radius: 50px 50px 50px 50px;
    box-sizing: content-box;
    height: 100%;
    margin-left: -25%;
    padding-right: 25%;
    width: 100%;
}
.milestoneshtml .milestone{
    display: inline-block;
    position: relative;
    text-align: center;
}
.milestoneshtml{
    color: white;
    display: grid;
    font-size: 1.1rem;
    font-weight: 500;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    padding: 11px 0;
    box-sizing: border-box;
    transition: 600ms;
}
.milestoneshtml:hover{
color: #cf7070;
}
.css{
    color:#02a9ff;
    margin: 0px 0px 0px 0px;
    font-size: 1.4rem;
    text-align: center;
    padding-left: 0;
    padding-right: 10px;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.progresscss{
    background: #02334f;
    height: 11px;
    padding: 0 16.5%;
    box-sizing: border-box;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 10px;
}
.progresscss .barcss{
    background: linear-gradient(270deg,#02a9ff,#71cfff);
    border-radius: 50px 50px 50px 50px;
    box-sizing: content-box;
    height: 100%;
    margin-left: -25%;
    padding-right: 25%;
    width: 70%;
}
.milestonescss .milestone{
    display: inline-block;
    position: relative;
    text-align: center;
}
.milestonescss{
    color: white;
    display: grid;
    font-size: 1.1rem;
    font-weight: 500;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    padding: 11px 0;
    box-sizing: border-box;
    transition: 600ms;
}
.milestonescss:hover{
color: #0d95e4;
}
.js{
    color:yellow;
    margin: 0px 0px 0px 0px;
    font-size: 1.4rem;
    text-align: center;
    padding-left: 0;
    padding-right: 10px;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.progressjs{
    background: #4c4f02;
    height: 11px;
    padding: 0 16.5%;
    box-sizing: border-box;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 10px;
}
.progressjs .barjs{
    background: linear-gradient(270deg,#d0d45b,#fcffb0);
    border-radius: 50px 50px 50px 50px;
    box-sizing: content-box;
    height: 100%;
    margin-left: -25%;
    padding-right: 5%;
    margin-bottom: 20px;
    width: 0%;
}
.milestonesjs .milestone{
    display: inline-block;
    position: relative;
    text-align: center;
}
.milestonesjs{
    color: white;
    display: grid;
    font-size: 1.1rem;
    font-weight: 500;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    padding: 11px 0;
    box-sizing: border-box;
    transition: 600ms;
}
.milestonesjs:hover{
color: #d3d631;
}
.toolscontainer{
    display: flex;
}
.toolicon{
    background-color: white;
    padding: 5px;
    width: 60px;
    height: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: white solid 3px;
    border-right: white solid 1.5px;
}
.tool{
    display: flex;
    padding-right: 20px;
    margin: auto;
}
.tools{
    background-color: #151f2e;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 25px;
    padding-left: 8px;
    padding-right: 8px;
    border: white solid 3px;
    border-left: white solid 1.5px;
    color:white;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    font-family: inherit;
    font-weight: 600;
    transition-duration: 500ms;
    padding-bottom: 0px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.tools:hover{
    color: red;
    text-decoration: underline;
}
/*----------------------------------------------------------------------------*/

.socials-wrap{
    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: #151f2e;
    border-radius: inherit;
    font-size: inherit;
    margin-bottom: inherit;
    box-sizing: inherit;
    text-decoration: none;
    margin-top: 0;
    transition-duration: 300ms;
    padding-right: 0px;
}
.github{
    color:white;
    font-size: 1.4rem;
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-family: inherit;
    font-weight: 600;
    transition-duration: 500ms;
    padding-bottom: 0px;
    z-index: 500;
}
.github:hover{
    color:red;
}
.github-card{
padding: 0 25%;
}
.discord{
    color:white;
    font-size: 1.4rem;
    text-align: center;
    padding-left: 0;
    padding-right: 10px;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    transition-duration: 500ms;
    margin: 0px;
}
.discord:hover{
    cursor: default;
    color:red;
}

.steam{
    color:white;
    font-size: 1.4rem;
    text-align: center;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    font-family: inherit;
    font-weight: 600;
    transition-duration: 500ms;
    padding-bottom: 0px;
}
.steam:hover{
    color:red;
}
.uselesssocials{
    color:white;
    font-size: 1.4rem;
    text-align: center;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    font-family: inherit;
    font-weight: 600;
    transition-duration: 500ms;
    padding-bottom: 0px;
    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
}
.socialsgrid{
    display:flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.socialgridelement{
    margin: auto;
    padding-top: 20px;
}
.facebook{
    background-color: rgb(24, 119, 242);
    border-radius: 20px;
}
.instagram{ /* thanks stackoverflow */
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    border-radius: 20px;
}
.twitter{
    background-color: #1DA1F2;
    border-radius: 20px;
}
.avatarimage{
    border-radius: 50%;
    transition: 800ms;
    background-image: url(../assets/images/socials/logos/facebook.png);
    background-size: cover;
}
.socialavatarfb{
    border-radius: 50%;
    transition: 800ms;
    margin: 20px 20px;
    border: white solid 8px;
    background-image: url(../assets/images/socials/logos/facebook.png);
    background-size: cover;
    width: 120px;
    height: 120px;
}
.socialavatarig{
    border-radius: 50%;
    transition: 800ms;
    margin: 20px 20px;
    border: white solid 8px;
    background-image: url(../assets/images/socials/logos/instagram.webp);
    background-size: cover;
    width: 120px;
    height: 120px;
}
.socialavatartw{
    border-radius: 50%;
    transition: 800ms;
    margin: 20px 20px;
    margin-top: 20px;
    border: white solid 8px;
    background-image: url(../assets/images/socials/logos/twitter.png);
    background-size: cover;
    width: 120px;
    height: 120px;
}
.avatarimage:hover{
    opacity: 50%;
}