html{
    text-decoration: none;
}

body{
    background-color: #0b1622;
}

/*
.progress{
background-color: #29a6ff;
border-radius: 0 10px 10px 0;
height: 4px;
left: 0;
opacity: 0;
position: absolute;
right: 0;
top: 0;
transition: width .3s ease,opacity .2s;
width: 0;
z-index: 99999;
width: 100%;
}
*/


.profile_background{
    background-image: url("../assets/images/profile_background.png");
    width: 100%;
    min-height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    color:white;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: calc(45% - 40px) 55%;
    margin-top: 30px;
    margin-left: 5%;
    background: #0b1622;
    max-width: 90%;
}
.section{
    border-radius: 6px;
    font-size: 1.4rem;
    margin-bottom: 25px;
    padding: 20px;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    margin-top: 0;
}
.about-paragraph{
    background-color: #151f2e;
    color: #04AA6D;
    border-radius: inherit;
    font-size: 1rem;
    margin-bottom: inherit;
    padding: inherit;
    box-sizing: inherit;
    max-width: inherit;
}
.progressbarbackground{
    background-color: rgb(15, 22, 31);
    width: 100%;
}
.lanprogress{
    background-color: red;
    border-radius: 5px 5px 5px 5px;
    box-sizing: content-box;
    height: 40px;
    margin-left: -33.3%;
    padding-right: 33.3%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width:40%;
}
.socials{
    background-color: #151f2e;
    border-radius: inherit;
    font-size: inherit;
    margin-bottom: inherit;
    padding: inherit;
    box-sizing: inherit;
    max-width: inherit;
    display: inline-block;
    text-decoration: none;
    margin: 0 10px 10px;
    transition-duration: 300ms;
    display: block;
}
.github-card{
    color:white;
    font-size: 1.4rem;
    text-align: center;
    padding-right: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    transition-duration: 300ms;
}
.discord{
    color:white;
    font-size: 1.4rem;
    text-align: center;
    padding-left: 0;
    padding-right: 10px;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    transition-duration: 500ms;
    cursor:default;
}
.discord:hover{
    color:red;
}

.steam{
    color:white;
    font-size: 1.4rem;
    text-align: center;
    padding-right: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    transition-duration: 500ms;
}
.steam:hover{
    color:red;
}