html{
    text-decoration: none;
}
.name{
    color: white;
    display: inline-block;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: 1.9rem;
    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.profile_background{
    background-image: url("../assets/images/profile_background.png");
    width: 100%;
}
.avatar{
    display: inline-block;
    height: 100%;
    padding-left: 20px;
    padding-top: 5px;
    margin-left: var(2px,auto);
    margin-right: var(2px,auto);
    max-height: var(2px,none);
    max-width: var(2px,100%);
    border-radius: var(2px,none);
}